body {
    background-image: url(careersbg.webp);
    background-repeat: repeat;
}
.head {
    display: flex;
    align-items: center; 
    justify-content: center;
}
.headtext {
    text-align: left;
    border-style: solid;
    max-width: 600px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    font-weight: 1000;
    font-style: oblique;
    text-shadow: 4px 4px #e9b253;
    background-color: rgb(215, 174, 219);
    border-color: rgb(204, 62, 240);
}
img, .headtext {
    margin: 40px;
    border-radius: 10px;
}

.form {
    padding: 30px;
    margin: 30px;
    margin-left: 250px;
    border-style: ridge;
    border-radius: 20px;
    border-color: rgb(220, 9, 9);
    max-width: 700px;
    height: auto;
    background-color: rgb(243, 219, 190);
}
.name {
    text-align: left;
    display: flex;
    align-items: center; 
    justify-content:start;
}
.phone {
    margin-left: 30px;
}
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 23px;
    color: rgb(148, 9, 106);
    background-color: rgb(246, 193, 193);
    opacity: 0.9;
    border-radius: 5px;
}
.salutdate {
    text-align: left;
    display: flex;
    align-items: center; 
    justify-content:start;
}
.date {
    margin-left: 30px;
}
.datebox {
    font-size: 120%;
}
select, input {
    height: 20px;
}
input[type=radio], [type=checkbox] {
    width: 30px;
}
.message {
    text-align: left;
    display: flex;
    align-items: center; 
    justify-content:start;
}
textarea {
    font-family: Arial, Helvetica, sans-serif;
}
.attach {
    margin-right: 430px;
}
.fileattach {
    font-size: 90%;
}
button {
    margin-top: 20px;
    margin-left: 240px;
    background-color: darkmagenta;
    color: whitesmoke;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 80px;
    padding-right: 80px;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 10px;
}
button:hover {
    border-style: solid;
    text-decoration: underline;
}